# common
[core]
  editor             = vim
  excludesfile       = "~/.gitignore"
	commitGraph        = true
	untrackedCache     = true

[pull]
  rebase             = false
[gpg]
  program            = gpg
[commit]
  gpgsign            = false
[diff]
  tool               = vimdiff
[tag]
  forceSignAnnotated = true
[grep]
  lineNumber         = true
[help]
  autocorrect        = 1
[submodule]
  recurse            = true
  fetchJobs          = 2
[merge]
  conflictstyle      = diff3 # show original change, incoming change, and unchanged
  tool               = vimdiff
[http]
  sslverify          = false
[color]
  ui                 = auto
[color "branch"]
  current            = yellow reverse
  local              = yellow
  remote             = green
[color "diff"]
  frag               = magenta bold
  meta               = yellow bold
  new                = green bold
  old                = red bold
[color "status"]
  added              = yellow
  changed            = green
  untracked          = cyan
[color "diff-highlight"]
  oldNormal          = red bold
  oldHighlight       = red bold 52
  newNormal          = green bold
  newHighlight       = green bold 22
[alias]
  cadd               = commit --no-edit --no-verify --amend
  fps                = push --no-verify -f
  glog               = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  prune              = fetch --prune
  pushn              = push --no-verify
  undo               = reset --soft HEAD^
  cls                = !git clean -fd && git reset --hard
  fix                = !git add -A && git commit -m fix && git push
[push]
  autoSetupRemote    = true

[url "git@github.com:"]
  pushInsteadOf      = https://github.com/
  pushInsteadOf      = git://github.com/

# project-related
[include]
  path               = ~/projects/.gitconfig
