[[source]]
name         = "pypi"
url          = "https://pypi.org/simple"
verify_ssl   = true

[dev-packages]
ansible-lint = "*"
yamllint     = "*"

[packages]
ansible      = "*"

[scripts]
lint         = "ansible-lint playbook_install.yml"
install      = "ansible-playbook playbook_install.yml"
configs      = "ansible-playbook playbook_install.yml --tags configs"
