[[source]]
name         = "pypi"
url          = "https://pypi.org/simple"
verify_ssl   = true

[packages]
ansible-core = "*"
ansible-lint = "*"
jmespath     = "*"
vim-vint     = "*"
yamllint     = "*"

[scripts]
lint         = "ansible-lint playbook_install.yml"
install      = "ansible-playbook playbook_install.yml"
configs      = "ansible-playbook playbook_install.yml --tags configs"
