---
dotfiles_location: "{{ playbook_dir }}/dotfiles"
dotfiles_dir_mode: "u=rwx,g=,o="

dotfiles_mapping:
  bashrc:
    src: "{{ dotfiles_location }}/.bashrc"
    dest: "{{ ansible_facts.user_dir }}/.bashrc"
  bash_profile:
    src: "{{ dotfiles_location }}/.bash_profile"
    dest: "{{ ansible_facts.user_dir }}/.bash_profile"
  editorconfig:
    src: "{{ dotfiles_location }}/.editorconfig"
    dest: "{{ ansible_facts.user_dir }}/.editorconfig"
  gitconfig:
    src: "{{ dotfiles_location }}/.gitconfig"
    dest: "{{ ansible_facts.user_dir }}/.gitconfig"
  gitignore:
    src: "{{ dotfiles_location }}/.gitignore"
    dest: "{{ ansible_facts.user_dir }}/.gitignore"
  screenrc:
    src: "{{ dotfiles_location }}/.screenrc"
    dest: "{{ ansible_facts.user_dir }}/.screenrc"
  vimrc:
    src: "{{ dotfiles_location }}/.vimrc"
    dest: "{{ ansible_facts.user_dir }}/.vimrc"
  gpg_conf:
    src: "{{ dotfiles_location }}/.gnupg/gpg.conf"
    dest: "{{ ansible_facts.user_dir }}/.gnupg/gpg.conf"
    dir_path: "{{ ansible_facts.user_dir }}/.gnupg"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  gpg_agent:
    src: "{{ dotfiles_location }}/.gnupg/gpg-agent.conf"
    dest: "{{ ansible_facts.user_dir }}/.gnupg/gpg-agent.conf"
    dir_path: "{{ ansible_facts.user_dir }}/.gnupg"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  curlrc:
    src: "{{ dotfiles_location }}/.curlrc"
    dest: "{{ ansible_facts.user_dir }}/.curlrc"
  wgetrc:
    src: "{{ dotfiles_location }}/.wgetrc"
    dest: "{{ ansible_facts.user_dir }}/.wgetrc"
  yamllint:
    src: "{{ dotfiles_location }}/.yamllint"
    dest: "{{ ansible_facts.user_dir }}/.config/yamllint/config"
    dir_path: "{{ ansible_facts.user_dir }}/.config/yamllint"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  yamllint_root:
    src: "{{ dotfiles_location }}/.yamllint"
    dest: "{{ ansible_facts.user_dir }}/.yamllint"
  ssh_config:
    src: "{{ dotfiles_location }}/.ssh/config"
    dest: "{{ ansible_facts.user_dir }}/.ssh/config"
    dir_path: "{{ ansible_facts.user_dir }}/.ssh"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  ssh_config_examples:
    src: "{{ dotfiles_location }}/.ssh/config.d/examples"
    dest: "{{ ansible_facts.user_dir }}/.ssh/config.d/examples"
    dir_path: "{{ ansible_facts.user_dir }}/.ssh/config.d"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  kitty_config:
    src: "{{ dotfiles_location }}/.config/kitty/kitty.conf"
    dest: "{{ ansible_facts.user_dir }}/.config/kitty/kitty.conf"
    dir_path: "{{ ansible_facts.user_dir }}/.config/kitty"
    dir_mode: "u=rwx"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  kitty_theme:
    src: "{{ dotfiles_location }}/.config/kitty/theme.conf"
    dest: "{{ ansible_facts.user_dir }}/.config/kitty/theme.conf"
    dir_path: "{{ ansible_facts.user_dir }}/.config/kitty"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  htoprc:
    src: "{{ dotfiles_location }}/.config/htop/htoprc"
    dest: "{{ ansible_facts.user_dir }}/.config/htop/htoprc"
    dir_path: "{{ ansible_facts.user_dir }}/.config/htop"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  user-dirs:
    src: "{{ dotfiles_location }}/.config/user-dirs.dirs"
    dest: "{{ ansible_facts.user_dir }}/.config/user-dirs.dirs"
    dir_path: "{{ ansible_facts.user_dir }}/.config"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  environment_d:
    src: "{{ dotfiles_location }}/.config/environment.d/99-dotfiles.conf"
    dest: "{{ ansible_facts.user_dir }}/.config/environment.d/99-dotfiles.conf"
    dir_path: "{{ ansible_facts.user_dir }}/.config/environment.d"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  nvim_init:
    src: "{{ dotfiles_location }}/.config/nvim/init.lua"
    dest: "{{ ansible_facts.user_dir }}/.config/nvim/init.lua"
    dir_path: "{{ ansible_facts.user_dir }}/.config/nvim"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"
  nvim_lazy_lock:
    src: "{{ dotfiles_location }}/.config/nvim/lazy-lock.json"
    dest: "{{ ansible_facts.user_dir }}/.config/nvim/lazy-lock.json"
  nvim_lua:
    src: "{{ dotfiles_location }}/.config/nvim/lua/"
    dest: "{{ ansible_facts.user_dir }}/.config/nvim/lua"
  pylintrc:
    src: "{{ dotfiles_location }}/.pylintrc"
    dest: "{{ ansible_facts.user_dir }}/.pylintrc"
  mplayer:
    src: "{{ dotfiles_location }}/.mplayer/config"
    dest: "{{ ansible_facts.user_dir }}/.mplayer/config"
    dir_path: "{{ ansible_facts.user_dir }}/.mplayer"
    dir_mode: "{{ dotfiles_dir_mode }}"
    dir_owner: "{{ ansible_facts.real_user_id }}"
    dir_group: "{{ ansible_facts.real_group_id }}"

dotfiles_cleanup:
  - "{{ ansible_facts.user_dir }}/.config/nvim/init.vim"
  - "{{ ansible_facts.user_dir }}/.nvim"
