{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "journald",
  "max-concurrent-downloads": 10,
  "max-concurrent-uploads": 5,
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Soft": 1048576,
      "Hard": 1048576
    }
  },
  "features": {
    "buildkit": true
  }
}
