# {{ ansible_managed }}
# vim:ft=systemd

[{{ system_dropin_section }}]
{% for system_dropin_key, system_dropin_value in system_dropin_settings.items() %}
{{ system_dropin_key }}={{ system_dropin_value }}
{% endfor %}
