# {{ ansible_managed }}
# vim:ft=conf
LANG="{{ system_default_locale }}.UTF-8"
LC_CTYPE="{{ system_default_locale }}.UTF-8"
LC_NUMERIC="{{ system_default_locale }}.UTF-8"
LC_TIME="C.UTF-8"
LC_COLLATE="{{ system_default_locale }}.UTF-8"
LC_MONETARY="{{ system_default_locale }}.UTF-8"
LC_MESSAGES="{{ system_default_locale }}.UTF-8"
LC_PAPER="{{ system_default_locale }}.UTF-8"
LC_NAME="{{ system_default_locale }}.UTF-8"
LC_ADDRESS="{{ system_default_locale }}.UTF-8"
LC_TELEPHONE="{{ system_default_locale }}.UTF-8"
LC_MEASUREMENT="C.UTF-8"
LC_IDENTIFICATION="{{ system_default_locale }}.UTF-8"
LC_ALL=
