# {{ ansible_managed }}
# vim:ft=conf
{% set missing = system_locale_missing_defs | default([]) %}
{% for item in system_locales %}
{% if item in missing %}# {% endif %}{{ item }}.UTF-8 UTF-8
{% endfor %}
